<article class="max-w-full my-8">
  <h2 class="color-title" id="about">Обо мне</h2>
  <p class="mb-8">
    Приветствую вас на моем персональном сайте о верстке писем для email
    рассылки. Меня зовут Олег, я фрилансер. Занимаюсь фронтенд разработкой с
    2019 года. До этого, долгое время работал сфере маркетинга, и это сейчас
    помогает мне лучше понимать потребности клиентов. По мимо проектов по
    разработке сайтов и приложений, одной из ниш, в которой я работаю, является
    верстка email писем. Мои клиенты, это в основном маркетинговые агентства
    оказывающие услуги по массовой рассылке e-mail, но я так же работаю с
    предприятиями и индивидуальными клиентами. Открыто ИП на НПД, есть расчетный
    счет.
  </p>
  <h2 class="color-title" id="email">О верстке для email</h2>
  <p>
    Верстка писем для рассылки в среде фронтенд разработчиков стоит обособленно.
    Не все берутся с ней работать. Это связанно с необходимостью использования
    устаревших приемов разработки таких как: табличная верстка, использование
    inline стилей, отсутствие единого стандарта для почтовых клиентов, которые
    каждый по своему может визуально интерпретировать входящее письмо.
  </p>

  <p>
    Современное e-mail письмо должно быть адаптивным – легко читаться как в
    десктопе, так и на мобильных устройствах. Все больше пользователей
    предпочитают читать письма с мобильных девайсов. И это приходится учитывать
    в верстке, так как некоторые почтовые клиенты до сих пор не поддерживают
    "медиа-запросы" (к примеру тот же Яндекс). Так же разработчикам
    (верстальщикам и дизайнерам) добавило "головной боли" появление "dark-тем",
    при которых происходит инвертирование цветов при включенной на устройстве
    темной темы. Можно, конечно, использовать различные сервисы для создания
    писем, но это тоже самое как делать сайт на конструкторе со всеми
    вытекающими ограничениями.
  </p>
  <div class="divider max-w-[90%] mx-auto"></div>
  <p>
    Появление на маркетинговом информационном поле социальных сетей (Instagram,
    Telegram, VK и т.д.) и развитие мессенджеров в способе донесения "рекламных
    месседжев", казалось "похоронит" EMAIL-маркетинг, но это оказалось не так.
    Почтовые письма до сих пор являются мощным маркетинговым средством
    привлечения потребителей товаров и услуг. Хотите оценить эффективность
    Email-маркетинга и привлечь потенциальных клиентов, увеличив прибыль
    компании в целом? Я профессионально занимаюсь версткой Email рассылок по
    разумной цене.
    <a
      href="#contact"
      class="link link-hover hover:text-secondary hover:transition duration-500"
      >Обращайтесь,</a
    > если хотите получить сверстанное по дизайну с учетом всех особенностей
    письмо в HTMl формате.
  </p>
</article>
