---
import faqData from "../data/faqData.json";
---

<article class="min-w-full">
  <h2 class="color-title" id="faq">Часто задаваемые вопросы</h2>
  {
    faqData.map((item) => (
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text-xl font-medium text-neutral-content">
          {item.question}
        </div>
        <div class="collapse-content">
          <p>{item.answer}</p>
        </div>
      </div>
    ))
  }
</article>
