---
import SlideReact from "./SlideReact";
---

<article class="max-w-full mb-9">
  <h2 class="color-title" id="work">Примеры работ</h2>
  <p class="my-text">
    Работа над версткой письма начинается с анализа переданного дизайна (Figma,
    Lunacy, PhotoShop). Внимание уделяется и сегменту аудитории на которую будет
    идти рассылка. Так к примеру Outlook в десктопных версиях не поддерживает
    некоторые стили (border-radius, background-image, media и часть тегов html),
    но он в большинстве используется на бизнес аккаунтах, и если письмо
    адресуется обыкновенному потребителю – нет смысла в угоду Outlook править
    удачный дизайн. Или наоборот приходится переделывать некоторые вещи в
    дизайне рассылки, так как из за ограничений описанных выше, нельзя
    реализовать все задумки дизайнера.
  </p>
</article>

<div class="max-w-full mb-9"><SlideReact client:visible /></div>
